body {
	font-family: 'Space Mono', monospace;
}

nav {
	padding: 3%;
}

.logo {
	font-size: 4rem;
	display: inline-block;
}

#container-wrapper {
	/*position: fixed;*/
	margin: 15% 3% 0 3%;
	min-height: 50%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 3%;
}

#container {
	/*position: absolute;*/
	overflow: scroll;
}

.checkboxes-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#input-text {
	display: inline-block;
	width: 85%;
}

.checkbox {
	display: inline-block;
	padding-top: 1%;
	padding-right: 3%;
}

.buttons {
	display: inline-block;
	margin-top: 1%;
}