body {
	font-family: 'Space Mono', monospace;
}

nav {
	padding: 1%;
}

.logo {
	font-size: 4rem;
	display: inline-block;
}

#container-wrapper {
	display: absolute;
	margin: 15% 3% 0 3%;
	max-height: 300px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 3%;
	overflow: auto;
}

.checkboxes-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#input-text {
	display: inline-block;
	width: 85%;
}

.checkbox {
	display: inline-block;
	padding-top: 1%;
	padding-right: 3%;
}

.buttons {
	display: inline-block;
	margin-top: 1%;
}

.darkTheme {
	background-color: black;
}

.darkTheme nav {
	color: white;
}

.largeTextMsg{
	font-size: 2.5em;
}

.btn {
	margin-bottom: 2%;
}